<div>
    <h1>new document </h1>
  <%= render 'form', document: @document %>
  <div style="text-align: center;">
  <%= link_to 'Back', employees_path, style: "color: #999; font-size: 14px;" %>
</div>
</div>